# Environment variables
.env
.env.local
.env.production

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Netlify local folder (optional)
.netlify

# Cloudflare Wrangler cache
.wrangler/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Temporary files
*.tmp
*.log